
@{
    //ViewBag.Title = "Development";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>UNDER DEVELOPMENT</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-dismissible alert-success">                
                <h4>Requested page under development process</h4>
                <p>coming soon..</p>
            </div>
        </div>
    </div>
</div>