
@{
    ViewBag.MenuActive = "MultipleDownload";

    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <b>Selcted Customer Names:</b> @ViewBag.MultiName<br />
          
        </div>

    </div>
</div>

@Html.Raw(@ViewBag.Dynamic)
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#btnSubmit').button();
        $('#btnSubmit').click(function () {
    $(this).html('<img src="http://www.bba-reman.com/images/fbloader.gif" />');
});

       

    </script>

}
