

@{
    ViewBag.MenuActive = "SearchTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">


<body>

   
    <div class="container-fluid color_bg">
        <div class="col-lg-12 ">
            <h2 class="page-header">Features </h2>
        </div>

    </div>

    <div class="container">

        <!-- Marketing Icons Section -->
     
            @*<div class="col-lg-12">
                <div class="page-header">
                    <h1>  </h1>
                </div>
            </div>*@
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                           <i class="flaticon-computer   idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>DYNAMIC DASHBOARD </h4>
                                </div>
                                <div class="panel-body">
                                    <p>A User’s control panel, offering the User a quick real time view of all the activities in the system.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                             <i class="flaticon-group   idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>
                                        USER MANAGEMENT
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Choose your Users and allocate roles and control their access in the system.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                           <i class="flaticon-administrator   idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>CUSTOMER MANAGEMENT </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Choose the information you want to collect for your customers or employees and manage their profiles.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                          <i class="flaticon-note   idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>AUTO POPULATE</h4>
                                </div>
                                <div class="panel-body">
                                    <p>All information, such as name, address and title numbers; that you have ever inputted in the system will auto populate on all future fields requiring such information, saving you more time and helping you avoid errors.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <i class="flaticon-search  idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>CUSTOMER HISTORY </h4>
                                </div>
                                <div class="panel-body">
                                    <p>A record of all the documents that have ever been created on the specific customer or employee; with an option to reuse the documents.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <i class="flaticon-file  idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>FILL TEMPLATE</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Respond to a few custom made questions and create your documents within seconds.  </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="row">
                             <i class="flaticon-interface-1  idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>REPORTS</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Choose the report criterion you wish to view or print at any specific time. No need of manually creating reports for your documents database, this is available in the system for your instant access. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <i class="flaticon-three idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>BULK TEMPLATE CREATION</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Create documents to all your clients or employees at once.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <i class="flaticon-interface idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>ARCHIVE DOCUMENT</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Store your documents to the database and cloud; which can be easily retrieved. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="row">
                           <i class="flaticon-exclamation idesign"></i>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4>SECURITY ALERT</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Get alerted the moment you insert any information that was previously used in system.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
       
        <!-- /.row -->

    </div>

    <div class="container-fluid color_bg">
        <div class="contaier">
            <div class="col-lg-12">
                <h2 class="page-header">Benefits</h2>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 ">
                            <div class=" color_bg_wit">
                                <div class="panel-heading">
                                    <h4>SIGNIFICANTLY INCREASE YOUR REVENUE </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Focus on the core of your business, while the mundane documentation activities are made easier and simpler by Virtual Advocate.  </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class=" color_bg_wit">
                                <div class="panel-heading">
                                    <h4>USER FRIENDLY</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Our User Experience and Interface Design is easy and intuitive to use, designed with end user friendliness in mind.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class=" color_bg_wit">
                                <div class="panel-heading">
                                    <h4>INCREASED PRODUCTIVITY </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Faster generation of documents and the option to create a suite of documents from a single template. Not only does it save time, the human resource required to generate the documents is significantly lower than in the traditional mode. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="color_bg_wit">
                                <div class="panel-heading">
                                    <h4>BOOST YOUR PRODUCTIVITY BY MORE THAN 80%</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Boost your productivity by more than 80%. Streamline your documentation process, speed up your contract life cycle and reduce inefficiencies.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class=" color_bg_wit">
                                <div class="panel-heading">
                                    <h4>90% REDUCTION IN PROCESSING TIME </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Reduce your documents processing time by more than 90%. </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class=" color_bg_wit">
                                <div class="panel-heading">
                                    <h4>TAILOR MADE DOCUMENTS</h4>
                                </div>
                                <div class="panel-body">
                                    <p>Use your own templates and documents.   </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="col-lg-4 ">
                        <div class="color_bg_wit">
                            <div class="panel-heading">
                                <h4>80% REDUCTIONS IN OPERATING COSTS</h4>
                            </div>
                            <div class="panel-body">
                                <p>Reduce your operating costs by cutting down your document drafting and review costs by more than 80%.</p>
                                <img src="~/images/Layer_160.png" class="img-responsive" alt="VA" />
                            </div>
                        </div>
                    </div>*@
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="row">

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-4">
                            <div class="color_bg_wit">
                                <div class="panel-heading">
                                    <h4>GUARANTEED ACCURACY AND CONSISTENCY </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Ensuring first draft consistency and accuracy, secures document quality across all areas. Through Virtual Advocate, you can set the level of excellence for their documents, ensure consistent style and protect the company’s brand image.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                            <div class=" color_bg_wit">
                                <div class="panel-heading">
                                    <h4>COMPLIANCE AND RISK REDUCTION </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Ensure that your documents are in accordance with internal governance and external regulations, which in turn minimizes legal, operational and reputational risks. </p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-4 ">
                            <div class=" color_bg_wit">
                                <div class="panel-heading">
                                    <h4>AVOID TYPOS </h4>
                                </div>
                                <div class="panel-body">
                                    <p>Create an array of standard documents such as employment, lease, loan agreements and many more. Save countless hours of drafting time, avoid typing errors and increase efficiency by getting better documents out to the relevant parties quicker.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 ">
                    <div class="color_bg_wit">
                        <div class="panel-heading">
                            <h4>INTEGRATED FUNCTIONALITY, TRUSTED CONTENT</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate includes complex computations as part of the intelligent interview process, which results to user-friendly documents that are ready to print through PDF.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Section -->
    

    


  
 
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
</html>
