
@{
    ViewBag.Title = "Banks";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-12 " id="bank">
        <p class="mrg_top"></p>
        <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="../images/br1.jpg" alt=""> </div>
        <div class="col-sm-6  col-md-7 panel-default">
            <div class="row">
                <div class="panel1 panel-default">
                    <div class="panel-heading">
                        <h4>Banks</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Virtual Advocate provides issue-ready documentation in a fraction of the time, at the fraction of the cost. The system’s intelligent interview templates provide users with the tools to produce legal and other documents accurately whilst decreasing risk, creating efficiency, improving quality and reducing costs across the whole organization.
                            Who uses Virtual Advocate in banks?
                        </p>
                        <button data-toggle="collapse" data-target="#bank-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                        <div id="bank-collapse" class="collapse" style="height: 0px;">
                            <h4>Who uses Virtual Advocate in banks?</h4>
                            <ul>
                                <li>Legal Department</li>
                                <li>Loans Processing Department</li>
                                <li>Human Resources Department</li>
                                <li>Administration Departments</li>
                                <li>All other departments or Units involved in the creation of repetitive and similar documents.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

