
@{
   // ViewBag.Title = "Thank You";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-dismissible alert-success">
                <h4>Thank you !!</h4>
                <p>Your contact has been added successfully..</p>
                <p>Our team will reach you soon!</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
