
@{
    ViewBag.Title = "DueDiligence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12" id="duediligence">
        <p class="mrg_top"> </p>
        <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="../images/br1.jpg" alt=""> </div>
        <div class="col-sm-6 panel-default">
            <div class="row">
                <div class="panel1 panel-default">
                    <div class="panel-heading">
                        <h4>Due Diligence</h4>
                    </div>
                    <div class="panel-body">
                        <p>In the nature of today’s business, one always wishes to know the credit worthiness of the other before engaging in any business with them. We understand the need for Banks to do company and business name searches before opening accounts for customers or at times before granting loans to these customers. Similarly, prior to processing of loans, there may arise a need to do a land search over the landed properties offered as securities. </p>
                        <button data-toggle="collapse" data-target="#due-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                        <div id="due-collapse" class="collapse" style="height: auto;">
                            <p>All these are very important searches for Know Your Customer (KYC) satisfaction. Unfortunately, at times these searches take a long time and the process of handing the documents and awaiting their return may seem mundane and tedious. </p>
                            <p>Virtual Advocate has an established network with most credit trading organizations and government bodies, which allows it to collect and collate relevant information about a company or business in the shortest time possible. Through our system you may lodge your search in a matter of seconds and the request be forwarded to the firm for necessary action. You will receive progress updates of your search through e-mail and a short message (SMS). By utilizing this service, you shall avoid going into credit business with someone completely blind folded.</p>
                            <p> Virtual Advocate conducts thorough Due Diligence on: </p>
                            <ul>
                                <li>
                                    <strong>Companies and Businesses</strong><br>
                                    We verify the legal status of all legally registered organizations such as companies, sole proprietors, partnerships, trusts and the like.
                                </li>
                                <li>
                                    <strong>Land</strong><br>
                                    We verify the existence and ownership of landed properties in different parts of the country.
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>