
@{
    ViewBag.Title = "HumanResources";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="row">
    <div class="col-lg-12" id="humanresources">
        <p class="mrg_top"> </p>
        <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="../images/br1.jpg" alt=""> </div>
        <div class=" col-sm-6 col-md-7 panel-default">
            <div class="row">
                <div class="panel1 panel-default">
                    <div class="panel-heading">
                        <h4>Human Resources</h4>
                    </div>
                    <div class="panel-body">
                        <p>Transform real-world processes into automated workflows. With Virtual Advocate, companies and governments can generate standard templates such as employment letters, promotion letters, termination letters, Non Disclosure Agreements and much more much quicker, with less expense, and with much better quality control than the old search-and-replace, cut-and-paste approach. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
