
@{
    ViewBag.Title = "RealEstate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-12" id="realestate">
        <p class="mrg_top"> </p>
        <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7 "> <img class="img-responsive" src="../images/br1.jpg" alt=""> </div>
        <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
            <div class="row">
                <div class="panel1 panel-default">
                    <div class="panel-heading">
                        <h4>Real Estate</h4>
                    </div>
                    <div class="panel-body">
                        <p>Reducing the time commercial property remains vacant translates directly to higher profit. Faster output of accurate lease agreements and supporting documents means less downtime between leases and more income.</p>
                        <p> With Virtual Advocate, real estate firms and managers can look forward to accelerated generation of lease agreements and various notices. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
