<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Virtual Advocate</title>
<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="css/modern-business.css" rel="stylesheet">
<!-- Custom  CSS -->
<link href="css/custom.css" rel="stylesheet">
<!-- Custom Fonts -->
<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400" rel="stylesheet">
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container"> 
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header  col-sm-2  col-md-3">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" href="index.html"><img src="images/logo.png" width="197" height="52" alt=""/></a> </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse col-sm-10  col-md-9 pull_rit" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li > <a href="index.html">Home</a> </li>
        <li> <a href="aboutus.html">About us</a> </li>
        <li  class="active"> <a href="solutions.html">Solutions</a> </li>
        <li> <a href="services.html"> Services </a> </li>
        <li> <a href="contact.html"> Contact Us</a> </li>
       <li><a href="http://va.app-staging.com/ "> Login </a> </li>
        <li > <a href="http://va.app-staging.com/UsersRegistration/Registrationl"> Sign Up</a> </li>
    
      </ul>
    </div>
    <!-- /.navbar-collapse --> 
  </div>
  <!-- /.container --> 
</nav>
<div class="container-fluid color_bg" >
  <div class="col-lg-12">
    <h2 class="page-header">Solutions </h2>
  </div>
  <div class="col-lg-12 hidden-xs">
    <div class="col-sm-4 col-md-2  col-sm-offset-0 col-md-offset-1	  col-lg-offset-1">
      <a href="solutions.html#bank"><div class="  color_bg_wit1"> <i class="flaticon-money-3"></i>
        <h4>Banks</h4>
      </div></a>
    </div>
    <div class="col-sm-4 col-md-2  ">
      <a href="solutions.html#lawfirms"><div class="  color_bg_wit1"> <i class="flaticon-people-1"></i>
        <h4>Law firms </h4>
      </div></a>
    </div>
    <div class="col-sm-4 col-md-2  ">
     <a href="solutions.html#humanresources"> <div class=" color_bg_wit1"> <i class="flaticon-balance  "></i>
        <h4>Human Resources</h4>
      </div></a>
    </div>
    <div class="col-sm-4 col-md-2 col-sm-offset-2  col-md-offset-0   ">
      <a href="solutions.html#realestate"><div class=" color_bg_wit1"> <i class="flaticon-house"></i>
        <h4>Real Estate</h4>
      </div></a>
    </div>
    <div class="col-sm-4 col-md-2  ">
      <a href="solutions.html#duediligence"><div class=" color_bg_wit1"> <i class="flaticon-cogwheel"></i>
        <h4>Due Diligence</h4>
      </div></a>
    </div>
  </div>
</div>
<div class="container innerpage"> 
  
  <!-- Marketing Icons Section -->
  <div class="row">
    <div class="col-lg-12 " id="bank">
    <p class="mrg_top"></p>
      <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="images/br1.jpg" alt=""> </div>
      <div class="col-sm-6  col-md-7 panel-default">
        <div class="row">
          <div class="panel1 panel-default">
            <div class="panel-heading">
              <h4>Banks</h4>
            </div>
            <div class="panel-body">
              <p>Virtual Advocate provides issue-ready documentation in a fraction of the time, at the fraction of the cost. The system’s intelligent interview templates provide users with the tools to produce legal and other documents accurately whilst decreasing risk, creating efficiency, improving quality and reducing costs across the whole organization.
                Who uses Virtual Advocate in banks? </p>
              <button data-toggle="collapse" data-target="#bank-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
              <div id="bank-collapse" class="collapse" style="height: 0px;">
                <h4>Who uses Virtual Advocate in banks?</h4>
                <ul>
                  <li>Legal Department</li>
                  <li>Loans Processing Department</li>
                  <li>Human Resources Department</li>
                  <li>Administration Departments</li>
                  <li>All other departments or Units involved in the creation of repetitive and similar documents.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12 mrg_top" id="lawfirms">
     <p class="mrg_top"> </p>
     <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="images/br1.jpg" alt=""> </div>
  
      <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
        <div class="row">
          <div class="panel1 panel-default">
            <div class="panel-heading">
              <h4>Law firms </h4>
            </div>
            <div class="panel-body">
              <p>It can be a challenge for law firms and legal departments to manage the creation of large and complex documents such as contracts. It is also difficult to keep track of the latest versions and preventing unauthorized personnel from making changes to contracts.</p>
              <p>Virtual advocate incorporates over a decade of development experience into helping law firms solve this challenge by transforming practice documents into process application.</p>
              <button data-toggle="collapse" data-target="#law-collapse" class="text-right btn btn-lg btn-default collapsed">Read More</button>
              <div id="law-collapse" class="collapse" style="height:0;">
                <p>Virtual Advocate is widely used as a first-draft generator enabling law firm partners, associates and paralegals to rapidly and accurately draft subsequent client documents.</p>
                <p>By generating everything from simple single-page letters to complex contracts in a fraction of the time it would take to do it the old, cut-and-paste way with much greater accuracy- reduced efforts and costs associated with document drafting result in drastically increased partner profits.</p>
                <p>Virtual Advocate not only increases partner profitability but it also helps win new clients and retain existing clients by making possible the compelling combination of better service at lower costs.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12"  id="humanresources">
     <p class="mrg_top"> </p>
      <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="images/br1.jpg" alt=""> </div>
      <div class=" col-sm-6 col-md-7 panel-default">
        <div class="row">
          <div class="panel1 panel-default" >
            <div class="panel-heading">
              <h4>Human Resources</h4>
            </div>
            <div class="panel-body">
              <p>Transform real-world processes into automated workflows. With Virtual Advocate, companies and governments can generate standard templates such as employment letters, promotion letters, termination letters, Non Disclosure Agreements and much more much quicker, with less expense, and with much better quality control than the old search-and-replace, cut-and-paste approach. </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.row -->
  <div class="row">
    <div class="col-lg-12"   id="realestate">
     <p class="mrg_top"> </p>
     <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7 "> <img class="img-responsive" src="images/br1.jpg" alt=""> </div>
      <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
        <div class="row">
          <div class="panel1 panel-default">
            <div class="panel-heading">
              <h4>Real Estate</h4>
            </div>
            <div class="panel-body">
              <p>Reducing the time commercial property remains vacant translates directly to higher profit. Faster output of accurate lease agreements and supporting documents means less downtime between leases and more income.</p>
              <p> With Virtual Advocate, real estate firms and managers can look forward to accelerated generation of lease agreements and various notices. </p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12" id="duediligence">
     <p class="mrg_top"> </p>
      <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="images/br1.jpg" alt=""> </div>
      <div class="col-sm-6 panel-default">
        <div class="row">
          <div class="panel1 panel-default">
            <div class="panel-heading">
              <h4>Due Diligence</h4>
            </div>
            <div class="panel-body">
              <p>In the nature of today’s business, one always wishes to know the credit worthiness of the other before engaging in any business with them. We understand the need for Banks to do company and business name searches before opening accounts for customers or at times before granting loans to these customers. Similarly, prior to processing of loans, there may arise a need to do a land search over the landed properties offered as securities. </p>
              <button data-toggle="collapse" data-target="#due-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
              <div id="due-collapse" class="collapse" style="height: auto;">
                <p>All these are very important searches for Know Your Customer (KYC) satisfaction. Unfortunately, at times these searches take a long time and the process of handing the documents and awaiting their return may seem mundane and tedious. </p>
                <p>Virtual Advocate has an established network with most credit trading organizations and government bodies, which allows it to collect and collate relevant information about a company or business in the shortest time possible. Through our system you may lodge your search in a matter of seconds and the request be forwarded to the firm for necessary action. You will receive progress updates of your search through e-mail and a short message (SMS). By utilizing this service, you shall avoid going into credit business with someone completely blind folded.</p>
                <p> Virtual Advocate conducts thorough Due Diligence on: </p>
                <ul>
                  <li><strong>Companies and Businesses</strong><br>
                    We verify the legal status of all legally registered organizations such as companies, sole proprietors, partnerships, trusts and the like. </li>
                  <li><strong>Land</strong><br>
                    We verify the existence and ownership of landed properties in different parts of the country. </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Portfolio Section --> 

<!-- /.row -->
<div class="container-fluid color_bgwt" >
<div class="container" >
  <div class="col-md-12">
    <div class="col-sm-12 col-md-4  ">
      
        <h4>Get in Touch</h4>
        <br>
        Mobile:+255 767 000 272 <br>
        Email Address: info@virtualadvocate.com 
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2  ">
     
        <h4>Company </h4>
        <ul>
          <li>About us</li>
          <li>Meet the team</li>
          <li>Terms & Conditions</li>
        </ul>
     
    </div>
    <div class=" col-xs-6 col-sm-3 col-md-2  ">
    
        <h4>Support </h4>
        <ul>
          <li>Faq</li>
          <li>Disclaimers</li>
          <li>Documentation</li>
        </ul>
     
    </div>
    <div class="col-xs-6 col-sm-3 col-md-2  ">
      
        <h4>Developers </h4>
        <ul>
          <li>Web Development</li>
          <li>SEO Marketing</li>
          <li>Email Marketing</li>
        </ul>
     
    </div>
    <div class=" col-xs-6 col-sm-3 col-md-2  ">
     
        <h4>Our Partners</h4>
        <ul>
          <li>Adipisicing Elit</li>
          <li>Eiusmod</li>
          <li>Tempor</li>
        </ul>
     
    </div>
  </div>
  
</div>
</div>

<!-- /.container -->
<div class="container-fluid" >
  <div class="container" >
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>© 2017 Virtual Advocate. All Rights Reserved. </p>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- jQuery --> 
<script src="js/jquery.js"></script> 

<!-- Bootstrap Core JavaScript --> 
<script src="js/bootstrap.min.js"></script> 


</body>
</html>
