

@{
    ViewBag.MenuActive = "SearchTemplate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid color_bg_blk">
    <div class="col-lg-12">
        <h2 class="page-header_wit">Industries we serve  </h2>
    </div>
    <div class="col-lg-12">
        <div class="col-sm-4 col-lg-2">
            <a href="#" id="indlnkbank">
                <div class="  color_bg_blk_lt">
                    <i class="flaticon-bank"></i>
                    <h4>Banking and Finance</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-lg-2 ">
            <a href="#" id="linkDepAdministration">
                <div class="  color_bg_blk_lt">
                    <i class="flaticon-house"></i>
                    <h4>REAL ESTATE</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-lg-2 ">
            <a href="#" id="linkLaw">
                <div class="  color_bg_blk_lt">
                    <i class="flaticon-trial"></i>
                    <h4>Law Firms</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-lg-2">
            <a href="#" id="indlnkInsurance">
                <div class=" color_bg_blk_lt">
                    <i class="flaticon-shield"></i>
                    <h4>Insurance</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-lg-2">
            <a href="#" id="indlnkCorporate">
                <div class=" color_bg_blk_lt">
                    <i class="flaticon-interface"></i>
                    <h4>Corporate and SME's</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-lg-2">
            <a href="#" id="indlnkGovernment">
                <div class=" color_bg_blk_lt">
                    <i class="flaticon-social"></i>
                    <h4>Government </h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container-fluid color_bg">
    <div class="col-lg-12">
        <h2 class="page-header">Departments </h2>
    </div>
    <div class="col-lg-12 hidden-xs">
        <div class="col-sm-4 col-md-2  col-sm-offset-0 col-md-offset-1	  col-lg-offset-1">
            <a href="#" id="linkDepHuman">
                <div class="  color_bg_wit1">
                    <i class="flaticon-teamwork"></i>
                    <h4>HUMAN RESOURCE</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-2  ">
            <a href="#" id="linkDepLaw">
                <div class="  color_bg_wit1">
                    <i class="flaticon-trial"></i>
                    <h4>LEGAL</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-2  ">
            <a href="#" id="linkCredit">
                <div class=" color_bg_wit1">
                    <i class="flaticon-money"></i>
                    <h4>CREDIT </h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-2 col-sm-offset-2  col-md-offset-0   ">
            <a href="#" id="indlnkRealtors">
                <div class=" color_bg_wit1">
                    <i class="flaticon-house"></i>
                    <h4>REALTORS</h4>
                </div>
            </a>
        </div>
        <div class="col-sm-4 col-md-2  ">
            <a href="#" id="linkDeptSales">
                <div class=" color_bg_wit1">
                    <i class="flaticon-transfer"></i>
                    <h4>SALES</h4>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container innerpage">
    <!--BANKING AND FINANCE-->
    <div class="row">
        <div class="col-lg-12" id="indbank">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="~/Content/Images/Bank.png" alt=""> </div>
            <div class="col-sm-6  col-md-7 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Banking and Finance</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Virtual Advocate is ideal online document Solution software for Financial Advisors and Institutions, including Banking, Financial Planning and Mortgage Broking Firms. Virtual Advocate controls your documents, creating efficiency, increases your document productivity, and radically quickens business workflows.
                            </p>
                            <button data-toggle="collapse" data-target="#bank-finance-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="bank-finance-collapse" class="collapse" style="height: 0px;">
                                <h4>Who uses Virtual Advocate in Banking & Finance?</h4>
                                <ul>
                                    <li>Legal Department</li>
                                    <li>Accounting Department</li>
                                    <li>Loans Processing Department</li>
                                    <li>Human Resources Department</li>
                                    <li>Administration Departments</li>
                                    <li>All other departments or Units involved in the creation of repetitive and similar documents.</li>
                                </ul>
                                <p>
                                    If you're looking for banking & financial services Online document Solution then consider Virtual Advocate and get an instant return on investment by improving quality and reducing costs. It allows accelerated drafting, monitoring, tracking and management of all your documents safely through the web.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--REAL ESTATE-->
    <div class="row">
        <div class="col-lg-12" id="realestate">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/Content/Images/Real Estate.png" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                @*<p class="mrg_top"></p>
                    <div class="col-sm-6 col-md-5"> <img class="img-responsive" src="~/Content/Images/Real Estate.png" alt=""> </div>
                    <div class="col-sm-6 panel-default">*@
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Real Estate</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate is the ideal Real estate online document solution software for commercial real estate and residential agencies, property management companies, estate agents and strata businesses. Virtual Advocate controls your documents, creating efficiency, increases your productivity, and radically quickens business workflows.</p>
                            <button data-toggle="collapse" data-target="#real-estate-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="real-estate-collapse" class="collapse" style="height: 0px;">
                                <h4>Who uses Virtual Advocate in Real Estate?</h4>
                                <ul>
                                    <li>Legal Department</li>
                                    <li>Human Resources Department</li>
                                    <li>Administration Departments</li>
                                    <li>All other departments or Units involved in the creation of repetitive and similar documents.</li>
                                </ul>
                                <p>With Virtual Advocate, Real estate firms, strata business and managers can look forward to accelerated generation of lease agreements and various notices. Getting an instant return on investment, improving quality and reducing costs.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--LAW FIRMS-->
    <div class="row">
        <div class="col-lg-12" id="lawfirms">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="~/Content/Images/Law frims.png" alt=""> </div>
            <div class="col-sm-6 col-md-7 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Law Firms </h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual advocate incorporates over a decade of development experience into helping law firms solve this challenge by transforming practice documents into process application. </p>
                            <button data-toggle="collapse" data-target="#law-collapse" class="text-right btn btn-lg btn-default collapsed">Read More</button>
                            <div id="law-collapse" class="collapse" style="height:0;">
                                <p>By generating everything from simple single-page letters to complex contracts in a fraction of the time it would take to do it the old, cut-and-paste way with much greater accuracy- reduced efforts and costs associated with document drafting result in drastically increased partner profits.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--INSURANCE-->
    <div class="row">
        <div class="col-lg-12" id="indInsurance">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/Content/Images/insurance.png" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Insurance</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate is the ideal insurance online document solution software for Insurance Companies and Insurance Brokers. Virtual Advocate controls your documents, creating efficiency, increases your productivity, and radically quickens business workflows.</p>
                            <button data-toggle="collapse" data-target="#insurance-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="insurance-collapse" class="collapse" style="height: 0px;">
                                <h4>Who uses Virtual Advocate in Insurance?</h4>
                                <ul>
                                    <li>Legal Department</li>
                                    <li>Human Resources Department</li>
                                    <li>Administration Departments</li>
                                    <li>All other departments or Units involved in the creation of repetitive and similar documents.</li>
                                </ul>
                                <p>
                                    If you're looking for Online document Solution then consider Virtual Advocate and get an instant return on investment, improving quality and reducing costs. It allows accelerated drafting, monitoring, tracking and management of all your documents safely through the web.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--CORPORATE AND SME's-->
    <div class="row">
        <div class="col-lg-12" id="indCorporate">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="~/Content/Images/Corporate.png" alt=""> </div>
            <div class="col-sm-6 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Corporate and SME's</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate is ideal for large business and Small Enterprise’s. Virtual Advocates controls you documents, creating efficiency, increase your productivity, and radically quickens business workflows.</p>
                            <button data-toggle="collapse" data-target="#corporate-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="corporate-collapse" class="collapse" style="height: 0px;">
                                <h4>Who uses Virtual Advocate in Corporate & SME’s?</h4>
                                <ul>
                                    <li>Legal Department</li>
                                    <li>Human Resources Department</li>
                                    <li>Administration Departments</li>
                                    <li>All other departments or Units involved in the creation of repetitive and similar documents</li>
                                </ul>
                                <p>
                                    With Virtual Advocate, Corporate and SME’s can look forward to accelerated generation of various Documents and Agreements. Getting an instant return on investment, improving quality and reducing costs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--GOVERNMENT-->
    <div class="row">
        <div class="col-lg-12" id="indGovernment">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/Content/Images/Government.png" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Government</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate is the ideal for all central government and government agencies, where procedures and uniformity is key, Virtual Advocate offers the solutions for all your document.</p>
                            <button data-toggle="collapse" data-target="#government-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="government-collapse" class="collapse" style="height: 0px;">
                                <h4>Who uses Virtual Advocate in Government?</h4>
                                <ul>
                                    <li>Human Resource Department</li>
                                    <li>Administration Department</li>
                                    <li>All other departments or Units involved in the creation of repetitive and similar documents</li>
                                </ul>
                                <p>
                                    With Virtual Advocate, Central government and government agencies can look forward to accelerated generation of various Documents and Agreements. Getting an instant return on investment, improving quality and reducing costs
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MANUFACTURING-->
    <div class="row">
        <div class="col-lg-12" id="manufacturing">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="~/Content/Images/manufacturing.png" alt=""> </div>
            <div class="col-sm-6 col-md-7 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Manufacturing </h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate is the ideal online document solution software for manufacturing Companies. Virtual Advocate controls your documents, creating efficiency, increases your productivity, and radically Quickens business workflows. </p>
                            <button data-toggle="collapse" data-target="#manufacturing-collapse" class="text-right btn btn-lg btn-default collapsed">Read More</button>
                            <div id="manufacturing-collapse" class="collapse" style="height:0;">
                                <p>Who uses Virtual Advocate in Manufacturing?</p>
                                <ul>
                                    <li>
                                        Human Resources Department
                                    </li>
                                    <li>
                                        Administration Departments
                                    </li>
                                    <li>All other departments or Units involved in the creation of repetitive and similar documents.</li>
                                </ul>
                                <p>
                                    With Virtual Advocate, Manufacturing Industries can look forward to accelerated generation of various Contracts & notices. Getting an instant return on investment, improving quality and reducing costs.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--EDUCATION-->
    <div class="row">
        <div class="col-lg-12" id="indEducation">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/Content/Images/studen.png" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Education</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate is ideal online document Solution software for schools and high education institutions. Virtual Advocates controls your documents, creating efficiency, and radically quickens business workflows.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--ENGINEERING-->
    <div class="row">
        <div class="col-lg-12" id="indEngineering">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5 "> <img class="img-responsive" src="~/Content/Images/Engineering.png" alt=""> </div>
            <div class="col-sm-6 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Engineering</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate is the ideal online document Solution software for Engineering Companies. Virtual Advocate controls your documents, creating efficiency, increasing your productivity, and radically quickens business workflows.</p>
                            <button data-toggle="collapse" data-target="#engineering-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="engineering-collapse" class="collapse" style="height: 0px;">
                                <h4>Who uses Virtual Advocate in Engineering?</h4>
                                <ul>
                                    <li>
                                        Human Resource Department
                                    </li>
                                    <li>Administration Department</li>
                                    <li>All other departments or Units involved in the creation of repetitive and similar documents</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--OTHERS-->
    <div class="row">
        <div class="col-lg-12" id="indOthers">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/images/br1.jpg" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Others</h4>
                        </div>
                        <div class="panel-body">
                            <p>For professional firms and business, in any industry. Our software increases efficiency, increases your productivity, and radically accelerate your workflows.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container innerpage">
    <!--HUMAN RESOURCE-->
    <div class="row">
        <div class="col-lg-12 " id="divdeptHR">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/Content/Images/insurance.png" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>HUMAN RESOURCE</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Receive the myriad of benefits of the system in your HR department while creating the following letters and contracts, among others
                            </p>
                            <button data-toggle="collapse" data-target="#human-resource-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="human-resource-collapse" class="collapse" style="height: 0px;">
                                <h4>Which Documents?</h4>
                                <ul>
                                    <li>Employment Letter</li>
                                    <li>Promotion letter</li>
                                    <li>Termination letter</li>
                                    <li>Salary Increment and</li>
                                    <li>Warning letter</li>
                                    <li>Charge Sheet</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--LEGAL-->
    <div class="row">
        <div class="col-lg-12" id="divDeptLeagal">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5"> <img class="img-responsive" src="~/Content/Images/Law frims.png" alt=""> </div>
            <div class="col-sm-6  col-md-7 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>LEGAL</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Receive the myriad of benefits of the system in your Legal department while creating the following letters and contracts, among others:
                            </p>
                            <button data-toggle="collapse" data-target="#legal-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="legal-collapse" class="collapse" style="height: 0px;">
                                <h4>Which Documents?</h4>
                                <ul>
                                    <li>Demand Letters</li>
                                    <li>Contracts</li>
                                    <li>Security Documents (mortgage, debenture, guarantees)</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--CREDIT-->
    <div class="row">
        <div class="col-lg-12" id="divDeptCredit">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/images/br1.jpg" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>CREDIT</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Receive the myriad of benefits of the system in your Credit departments while creating the following letters and contracts, among others:
                            </p>
                            <button data-toggle="collapse" data-target="#credit-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="credit-collapse" class="collapse" style="height: 0px;">
                                <h4>Which Documents?</h4>
                                <ul>
                                    <li>Loan Offer</li>
                                    <li>Review Letters</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--REALTORS-->
    <div class="row">
        <div class="col-lg-12" id="indRealtors">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5"> <img class="img-responsive" src="~/Content/Images/Real Estate.png" alt=""> </div>
            <div class="col-sm-6 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>REALTORS</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Receive the myriad of benefits of the system in your realtors departments while creating the following letters and contracts, among others:
                            </p>
                            <button data-toggle="collapse" data-target="#realtor-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="realtor-collapse" class="collapse" style="height: 0px;">
                                <h4>Which Documents?</h4>
                                <ul>
                                    <li>Lease Agreements</li>
                                    <li>Termination of Lease</li>
                                    <li>Notice of Vacant Possession</li>
                                    <li>Notice to Increase Rent</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--SALES-->
    <div class="row">
        <div class="col-lg-12" id="divDeptSales">
            <p class="mrg_top"></p>
            <div class="col-sm-6  col-sm-push-6 col-md-5  col-md-push-7"> <img class="img-responsive" src="~/Content/Images/Sales.jpg" alt=""> </div>
            <div class="col-sm-6 col-sm-pull-6  col-md-7 col-md-pull-5 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>SALES</h4>
                        </div>
                        <div class="panel-body">
                            <p>
                                Receive the myriad of benefits of the system in your sales department while creating the following letters and contracts, among others:
                            </p>
                            <button data-toggle="collapse" data-target="#sales-collapse" class="text-right collapsed btn btn-lg btn-default">Read More</button>
                            <div id="sales-collapse" class="collapse" style="height: 0px;">
                                <h4>Which Documents?</h4>
                                <ul>
                                    <li>Sales Agreements</li>
                                    <li>Terms of References</li>
                                    <li>Credit Applications</li>
                                    <li>Credit Approvals</li>
                                    <li>Sales Logs</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--DUE DILIGENCE-->
    <div class="row">
        <div class="col-lg-12 " id="duediligence">
            <p class="mrg_top"></p>
            <div class="col-sm-6 col-md-5"> <img class="img-responsive" src="~/Content/Images/Due Diligence.jpg" alt=""> </div>
            <div class="col-sm-6 panel-default">
                <div class="row">
                    <div class="panel1 panel-default">
                        <div class="panel-heading">
                            <h4>Due Diligence</h4>
                        </div>
                        <div class="panel-body">
                            <p>Virtual Advocate has an established network with most credit trading organizations and government bodies, which allows it to collect and collate relevant information about a company or business in the shortest time possible. By utilizing this service, you shall avoid going into credit business with someone completely blind folded.</p>
                            <button data-toggle="collapse" data-target="#due-collapse" class="text-right btn btn-lg btn-default collapsed">Read More</button>
                            <div id="due-collapse" class="collapse" style="height: 0px;">
                                <p>
                                    Virtual Advocate conducts thorough Due Diligence on:
                                </p>
                                <ul>
                                    <li>
                                        <strong>Companies and Businesses</strong><br />
                                        <p>We verify the legal status of all legally registered organizations such as companies, sole proprietors, partnerships, trusts and the like.</p>
                                    </li>
                                    <li>
                                        <strong> Land</strong><br />
                                        <p>
                                            We verify the existence and ownership of landed properties in different parts of the country.
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $('#linkBank').click(function () {
            $('html, body').animate({ scrollTop: $('#bank').offset().top }, 'slow');
        });

        $('#linkLaw').click(function () {
            $('html, body').animate({ scrollTop: $('#lawfirms').offset().top }, 'slow');

        });
        $('#linkHuman').click(function () {
            $('html, body').animate({ scrollTop: $('#humanresources').offset().top }, 'slow');

        });
        $('#linkReal').click(function () {
            $('html, body').animate({ scrollTop: $('#realestate').offset().top }, 'slow');

        });
        $('#linkDue').click(function () {
            $('html, body').animate({ scrollTop: $('#duediligence').offset().top }, 'slow');

        });



        $('#indlnkbank').click(function () {
            $('html, body').animate({ scrollTop: $('#indbank').offset().top }, 'slow');
        });

        $('#indlnkRealtors').click(function () {
            $('html, body').animate({ scrollTop: $('#indRealtors').offset().top }, 'slow');

        });
        $('#indlnkInsurance').click(function () {
            $('html, body').animate({ scrollTop: $('#indInsurance').offset().top }, 'slow');

        });
        $('#indlnkCorporate').click(function () {
            $('html, body').animate({ scrollTop: $('#indCorporate').offset().top }, 'slow');

        });
        $('#indlnkGovernment').click(function () {
            $('html, body').animate({ scrollTop: $('#indGovernment').offset().top }, 'slow');

        });

        $('#indlinkHuman').click(function () {
            $('html, body').animate({ scrollTop: $('#indGovernment').offset().top }, 'slow');

        });

        $('#linkDepHuman').click(function () {
            $('html, body').animate({ scrollTop: $('#divdeptHR').offset().top }, 'slow');
        });

        $('#linkDepLaw').click(function () {
            $('html, body').animate({ scrollTop: $('#divDeptLeagal').offset().top }, 'slow');

        });
        $('#linkCredit').click(function () {
            $('html, body').animate({ scrollTop: $('#divDeptCredit').offset().top }, 'slow');

        });
        $('#linkDepAdministration').click(function () {
            $('html, body').animate({ scrollTop: $('#realestate').offset().top }, 'slow');

        });
        $('#linkDeptSales').click(function () {
            $('html, body').animate({ scrollTop: $('#divDeptSales').offset().top }, 'slow');

        });

    </script>
}


