<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div class="col-lg-6"><div class="" id="div_Name">
        <div class="form-group"><label class="">Name</label><input class="form-control" name="Name" placeholder="Name" type="text" value="" list="Name"></div></div>
    <div class="form-group" id="div_Email"><div><label class="">Email</label><input class="form-control" name="Email" placeholder="" type="text" value="" list="Email"></div></div>
    <div class="form-group" id="div_Postal_Address"><div><label class="">Postal_Address</label><input class="form-control col-lg-4" name="Postal_Address" placeholder="" type="text" value="" list="Postal_Address"></div></div>
    <div class="form-group" id="div_Region"><div><label class="">Postal_Address</label><input class="form-control col-lg-4" name="Region" placeholder="Region" type="text" value="" list="Region"></div></div>
    <div class="form-group" id="div_Telephone"><div><label class="">Postal_Address</label><input class="form-control col-lg-4" name="Telephone" placeholder="Telephone" type="text" value="" list="Telephone"></div></div></div>
    <div class="col-lg-6"><div class="form-group" id="div_Physical" address=""><div><label class="">Postal_Address</label><input class="form-control col-lg-4" name="Physical Address" placeholder="Physical Address" type="text" value="" list="Physical Address"></div></div>
    <div class="form-group" id="div_Account" number=""><div><label class="">Postal_Address</label><input class="form-control col-lg-4" name="Account Number" placeholder="Account Number" type="text" value="" list="Account Number"></div></div>
    <div class="form-group" id="div_Mobile"><div><label class="">Mobile</label><input class="form-control col-lg-4" name="Mobile" placeholder="Mobile" type="text" value="" list="Mobile"></div></div>
    <div class="form-group" id="div_Contact" person="" name=""><div><label class="">Contact Person name</label><input class="form-control col-lg-4" name="Contact Person name" placeholder="Contact Person name" type="text" value="" list="Contact Person name"></div></div>
    <div class="form-group" id="div_Contact" person="" mobile="" no=""><div><label class="">Contact person Mobile no</label><input class="form-control col-lg-4" name="Contact person Mobile no" placeholder="Contact person Mobile no" type="text" value="" list="Contact person Mobile no"></div></div>
    <div class="form-group" id="div_Email" contact="" person=""><div><label class="">Email contact person</label><input class="form-control col-lg-4" name="Email contact person"  type="text" value="" list="Email contact person"></div></div></div>

</body>
</html>
