
@{
    ViewBag.Title = "Test1";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}

<h2>Test1</h2>

@*<input type="text" name="city" list="cityname">
<datalist id="cityname">
    <option value="Boston">
    <option value="Cambridge">
</datalist>*@
@ViewBag.Status