
@{
   // ViewBag.Title = "Thank You";
}


<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="alert alert-dismissible alert-success">
                <h4>Thank you for Registering</h4>
                <p>Your account has been created successfully..</p>
                <p>Account is waiting approval from Administrator</p>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
